@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  background-image: url('/NotBadStarfield.png');
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

div{
  /* border-style: double; */
}

h3{
  color: white;
}

a{
  color: rgb(122, 122, 238);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* globals.css */

.card {
  background-color: transparent;
  padding: 20px;
  border: 7px double #ccc;
  border-style: double;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.card-header {
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  overflow-y: scroll;
  max-height: 213px;
  font-size: 1rem;
  line-height: 1.5;
}

.textarea {
  width: 100%;
  overflow-y: scroll;
  max-height: 213px;
}

.card-footer {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
